
html {
  background-color: #191621;
}
html, body {
  width: 100%;
  height: 100%;
}
#navcontainer {
  position: fixed;
  max-width: 70%;
  background: rgba(100, 100, 125, 0.7);
  color: rgba(250, 240, 230, 1);
  border-style: solid;
  border: 1px;
  border-color: rgba(250, 240, 230, 1);
  border-bottom-right-radius: 5px;
  z-index: 999;
}
#navbutton
{
  float: right;
  padding: 10px;
}
#navdrawer {
  padding: 25px;
  padding-bottom: 10px;
  display: none;
}
.status {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: auto;
  width: 100%;
  text-align: center;
  background: rgba(100, 100, 125, 0.4);
}
h3 {
  text-align: center;
  margin-bottom: 8px;
}
.list-group-item {
  left: 0px;
  bottom: 0px;
  height: auto;
  width: 100%;
  background: rgba(100, 100, 125, 0.3);
}
.list-group-item.grayed {
  background: rgba(50, 50, 75, 0.5);
}
button {
  background: rgba(100, 100, 125, 0.5);
}
@media screen and (orientation:landscape) {
  .container {
    float: left;
    width: 50%;
    height: 100%;
  }
  .hideonportrait {
    display:all;
  }
}
@media screen and (orientation:portrait) {
  .container {
    float: left;
    width: 100%;
    height: auto;
  }
  .hideonportrait {
    display:none;
  }
}
.content { }
.left {
  float: left;
}
.right {
  float: right;
}
