html, body {
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fading {
  -webkit-transition:all linear 0.35s;
  -moz-transition:all linear 0.35s;
  -o-transition:all linear 0.35s;
  transition:all linear 0.35s;
  opacity: 1;
}
.fading.ng-hide {
  opacity: 0;
}
#navcontainer {
  position: fixed;
  left: 0px;
  top: 0px;
  max-width: 70%;
  background: rgba(100, 100, 125, 0.85);
  color: rgba(250, 240, 230, 1);
  border-style: solid;
  border: 1px;
  border-color: rgba(250, 240, 230, 1);
  border-bottom-right-radius: 5px;
  z-index: 999;
}
#navbutton
{
  float: right;
  padding: 12px;
}
#navdrawer {
  padding-left: 20px;
  padding-bottom: 8px;
  display: none;
}
nav {
  display: inline;
}
.status {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: auto;
  width: 100%;
  text-align: center;
  background: rgba(100, 100, 125, 0.4);
  color: rgba(250, 240, 230, 1);
}
h3 {
  text-align: center;
  margin-bottom: 8px;
}
h4 {
  text-align: center;
  margin-bottom: 6px;
}
.list-group-item {
  left: 0px;
  bottom: 0px;
  height: auto;
  width: 100%;
  background: rgba(100, 100, 125, 0.3);
}
.list-group-item.grayed {
  background: rgba(50, 50, 75, 0.5);
}
button, .btn {
  background: rgba(100, 100, 125, 0.5);
}
.preset {
  width: 32%;
}
@media screen and (orientation:landscape) {
  .container {
    float: left;
    width: 50%;
    height: 100%;
  }
  .onportrait {
    display:none;
  }
  .onlandscape {
    display:all;
  }
}
@media screen and (orientation:portrait) {
  .container {
    float: left;
    width: 100%;
    height: auto;
  }
  .onportrait {
    display:all;
  }
  .onlandscape {
    display:none;
  }
}
.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(100, 100, 125, 0.60);
  overflow: scroll;
}
.inlay {
  background: rgba(200, 200, 250, 0.60);
  border-radius: 5px;
  padding: 25px;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.content {
}
.left {
  float: left;
}
.right {
  float: right;
}