<h3>Lights</h3>
<div class="list-group">
  <div class="list-group-item" ng-repeat="Light in MyHue.Lights" ng-class="{ grayed:!Light.state.reachable }">
    <div style="display:inline-block; width:29%" ng-click="SetMenuItem('Light', Light.id)">
      {{Light.name}}
    </div>
    <div style="display:inline-block; width:49%" >
      <input type="range" min="0" max="255" ng-show="Light.state.on" ng-model="Light.state.bri"
      ng-change="SetLightBrightness(Light.id)" ng-mousedown="SetActive(Light.id)" ng-mouseup="SetActive(-1)" ng-mouseleave="SetActive(-1)"/>
    </div>
    <div style="display:inline-block; width:19%" class="right" ng-show="Light.state.reachable">
      <button type="button" class="btn btn-sm right" ng-click="MyHue.LightOff(Light.id)" ng-show="Light.state.on">
        <span class="glyphicon glyphicon-off" style="color:{{Light.HTMLColor}}" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-sm right" ng-click="MyHue.LightOn(Light.id)" ng-hide="Light.state.on">
        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
<div><br><br></div>