<span left>{{Group.name}}</span>
<button type="button" class="btn btn-sm right" ng-click="HueStatusCtrl.MyHue.GroupOff($index);" ng-class="{ hidden: !((Group.action.on) || ($index == 0)) }">
	<span class="glyphicon glyphicon-record" style="color:{{Group.HTMLColor}}" aria-hidden="true"></span>
</button>

<button type="button" class="btn btn-sm right" ng-click="HueStatusCtrl.MyHue.GroupOn($index);" ng-class="{ hidden:Group.action.on }">
	<span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
</button>
