<h3>Bridge {{MyHue.BridgeName}} - {{MyHue.BridgeIP}}</h3>

<button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button><br>

<div class="list-group">
  <div class="list-group-item" ng-repeat="(Key, Value) in MyHue.LocalBridges" ng-click="MyHue.ScanningNetwork = false; MyHue.BridgeIP = Value.internalipaddress; Connect()">
    <div style="display:inline-block; width:69%">
      {{Value.internalipaddress}}<span ng-show="Value.internalipaddress===MyHue.BridgeIP">, "{{MyHue.BridgeName}}"</span>, {{Value.id}}
    </div>
    <div ng-show="Value.internalipaddress===MyHue.BridgeIP" style="display:inline-block; width:29%; text-align: right">Current</div>
  </div>
</div>

<button type="button" class="btn preset" ng-click="Discover()" ng-hide="MyHue.ScanningNetwork">Discover</button>
<button type="button" class="btn preset" ng-click="Scan()" ng-hide="MyHue.ScanningNetwork">Scan</button>
<button type="button" class="btn preset" ng-click="MyHue.ScanningNetwork = false" ng-show="MyHue.ScanningNetwork">Cancel</button>
<button type="button" class="btn preset" onclick="delete localStorage.MyHueBridgeIP; window.location.reload(true)" ng-hide="MyHue.ScanningNetwork">Reload</button>
<div type="text" class="preset" style="display:inline-block" ng-hide="MyHue.ScanningNetwork">Manual:</div>
<input type="text" class="preset" ng-model="ManualBridge" ng-hide="MyHue.ScanningNetwork"></input>
<button type="button" class="btn preset" ng-click="Connect(ManualBridge)" ng-hide="MyHue.ScanningNetwork">Connect</button>

<div><br></div>

<div class="list-group">
  <div class="list-group-item" ng-repeat="(Key, Value) in MyHue.BridgeConfig.whitelist | orderObjectBy : 'last use date' : true">
    <div style="display:inline-block; width:69%">
      {{Value.id}} : {{Value.name}}<br>
      Created: {{Value["create date"]}}, 
      LastUsed: {{Value["last use date"]}}
    </div>
    <div ng-show="Value.id===MyHue.Username" style="display:inline-block; width:29%; text-align: right">Active Key</div>
    <div style="display:inline-block; width:69%"></div>
    <div ng-click="MyHue.BridgeDeleteUser(Value.id)" style="display:inline-block; width:29%; text-align: right">Delete Key</div>
  </div>
</div>

<button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button>