<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html ng-app="huewi" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>hue Web Interface</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="viewport" content="width=device-width, user-scalable=0" />

  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-title" content="huewi" />
  <meta name="apple-mobile-web-app-title" content="huewi" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!--script src='http://requirejs.org/docs/release/2.1.22/minified/require.js' type='text/javascript' ></script-->
  <script src="http://code.jquery.com/jquery-1.12.0.min.js" type="text/javascript"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js" type="text/javascript"></script>

  <script src="https://arndbrugman.github.io/huepi/huepi.js" type="text/javascript"></script>
  <script src="../huepi/huepi.js" type="text/javascript"></script>

  <script src="js/timebasedgradient.js" type="text/javascript"></script>
  <script src="js/navdrawer.js" type="text/javascript"></script>

  <script src="js/huewi.js" type="text/javascript"></script>
  <link rel="stylesheet" href="css/huewi.css">

  <!--script src='js/cordova.js' type='text/javascript' onload="javascript:window.isCordovaApp = true;"></script-->
</head>

<body id='HueStatus' ng-controller='HueStatusController as HueStatusCtrl'>

<div id='Menu' ng-controller='MenuController as MenuCtrl'>

  <div class='overlay timebasedgradient'>
    <div class='container' id='Groups' ng-controller='GroupsController as GroupsCtrl'>
      <div class='content'>
        <huewi-groups></huewi-groups>
      </div><!-- /content -->
      <div class="onlandscape"><br><br></div><!-- Spacing on Landscape after Groups -->
    </div><!-- /container -->

    <div class='container' id='Lights' ng-controller='LightsController as LightsCtrl'>
      <div class='content'>
        <huewi-lights></huewi-lights>
      </div><!-- /content -->
      <div><br><br></div>
    </div><!-- /container -->
  </div>

  <div class='overlay fading' id='GroupAndLight' ng-controller='GroupAndLightController as GroupCtrl' ng-show='MenuItem === "Group" || MenuItem === "Light"'>
    <div class='inlay content timebasedgradient'>
      <h3>{{_Name}}</h3>
      <div>
      <div class='container' id='ColorTemp'>
        <div class='content'>
          <canvas id='ctCanvas'>It seems your device doesn't support the required HTML5 Canvas</canvas>
          <br>
          <div>
            <button type="button" class="btn btn-sm preset" ng-click="Relax()">Relax</button>
            <button type="button" class="btn btn-sm preset" ng-click="Reading()">Reading</button>
            <button type="button" class="btn btn-sm preset" ng-click="Concentrate()">Concentrate</button>
            <button type="button" class="btn btn-sm preset" ng-click="Energize()">Energize</button>
            <button type="button" class="btn btn-sm preset" ng-click="GoldenHour()">Gold</button>
          </div>
          <div class="onportait"><br></div><!-- Spacing on Portait after ColorTemp -->
        </div><!-- /content -->
      </div><!-- /container -->
      <div class='container' id='hueColor'>
        <div class='content'>
          <div>
            <canvas id='hueCanvas'>It seems your device doesn't support the required HTML5 Canvas</canvas>
          </div>
        </div><!-- /content -->
      </div><!-- /container -->
      </div>
      <div class='content'>
        <div>
          <span>new Name: </span>
          <input type="text" ng-model="Name" ng-model-options="{ getterSetter: true }" class='timebasedgradient'>
        </div>
        <div ng-show='MenuItem === "Group"' >
          Edit Group... Comes Here ;)
        </div>
      </div><!-- /content -->

      <div ng-click="SetMenuItem('')" style="text-align: right"><br>Close</div>
    </div><!-- /inlay content -->
    <div><br><br></div>
  </div><!-- /overlay -->

  <div class='overlay fading' id='Schedules' ng-controller='SchedulesController as SchedulesCtrl' ng-show='MenuItem === "Schedules"'>
    <div class='inlay content timebasedgradient'>
      <h3>Schedules</h3>
      <div class='list-group'>
        <div class="list-group-item" ng-repeat="(Key, Value) in MyHue.Schedules">
            {{Key}} - {{Value.name}}
        </div>
      </div>
      <div ng-click="SetMenuItem('')" style="text-align: right"><br>Close</div>
    </div><!-- /inlay content -->
    <div><br><br></div>
  </div><!-- /overlay -->

  <div class='overlay fading' id='Scenes' ng-controller='ScenesController as ScenesCtrl' ng-show='MenuItem === "Scenes"'>
    <div class='inlay content timebasedgradient'>
      <h3>Scenes</h3>
      <div class='list-group'>
        <div class="list-group-item" ng-repeat="(Key, Value) in MyHue.Scenes">
            {{Key}} - {{Value.name}}
        </div>
      </div>
      <div ng-click="SetMenuItem('')" style="text-align: right"><br>Close</div>
    </div><!-- /inlay content -->
    <div><br><br></div>
  </div><!-- /overlay -->

  <div class='overlay fading' id='Sensors' ng-controller='SensorsController as SensorsCtrl' ng-show='MenuItem === "Sensors"'>
    <div class='inlay content timebasedgradient'>
      <h3>Sensors</h3>
      <div class='list-group'>
        <div class="list-group-item" ng-repeat="(Key, Value) in MyHue.Sensors">
            {{Key}} - {{Value.name}}
        </div>
      </div>
      <div ng-click="SetMenuItem('')" style="text-align: right"><br>Close</div>
    </div><!-- /inlay content -->
    <div><br><br></div>
  </div><!-- /overlay -->

  <div class='overlay fading' id='Rules' ng-controller='RulesController as RulesCtrl' ng-show='MenuItem === "Rules"'>
    <div class='inlay content timebasedgradient'>
      <h3>Rules</h3>
      <div class='list-group'>
        <div class="list-group-item" ng-repeat="(Key, Value) in MyHue.Rules">
            {{Key}} - {{Value.name}}
        </div>
      </div>
      <div ng-click="SetMenuItem('')" style="text-align: right"><br>Close</div>
    </div><!-- /inlay content -->
    <div><br><br></div>
  </div><!-- /overlay -->

  <div class='overlay fading' id='Bridge' ng-controller='BridgeController as BridgeCtrl' ng-show='MenuItem === "Bridge"'>
    <div class='inlay content timebasedgradient'>
      <h3>Bridge</h3>
      <strong>Local Brides</strong>
      <div class='list-group'>
        <div class="list-group-item" ng-repeat="(Key, Value) in MyHue.LocalBridges">
          {{Value.internalipaddress}} : {{Value.id}}<br>
        </div>
      </div>
      <br>
      <div>Bridge IP: {{MyHue.BridgeIP}}</div><div ng-click="SetMenuItem('')" style="text-align: right"><br>Close</div>
      <div>Bridge Name: {{MyHue.BridgeName}}</div>
      <div> {{Status}}</div>
      <div class='list-group'>
        <div class="list-group-item" ng-repeat="(Key, Value) in MyHue.BridgeConfig.whitelist | orderObjectBy : 'last use date' : true">
          {{Value.key}} : {{Value.name}}<br>
          Created: {{Value['create date']}}, 
          LastUsed: {{Value['last use date']}}
          <div ng-click="MyHue.BridgeDeleteUser(Value.key)" ng-show="Value.key!=MyHue.Username" style="text-align: right">Delete this Key</div>
          <div ng-show="Value.key===MyHue.Username" style="text-align: right">(Currently Active Key)</div>
        </div>
      </div>
      <div ng-click="SetMenuItem('')" style="text-align: right"><br>Close</div>
    </div><!-- /inlay content -->
    <div><br><br></div>
  </div><!-- /overlay -->

  <div class='overlay fading' id='Connecting' ng-show='Status == "!Connected"'> <!-- == "!" vs !== "" TESTCODE. -->
    <div class='inlay content timebasedgradient'>
      <h3>Stand by while connecting...</h3>
      <div></div>
      <h4>{{Status}}</h4>
      <div ng-click="SetMenuItem('')" style="text-align: right"><br>Close</div>
    </div><!-- /inlay content -->
    <div><br><br></div>
  </div><!-- /overlay -->

  <div id='navcontainer' class='timebasedgradient'>
    <div id='navbutton' class='glyphicon glyphicon-menu-hamburger'></div>
    <nav id='navdrawer'>
      <h4>Settings</h4>
      <ul>
        <div class='list-group'>
          <li class='list-group-item' ng-click='SetMenuItem("Schedules")'>Schedules</li>
          <li class='list-group-item' ng-click='SetMenuItem("Scenes")'>Scenes</li>
          <li class='list-group-item' ng-click='SetMenuItem("Sensors")'>Sensors</li>
          <li class='list-group-item' ng-click='SetMenuItem("Rules")'>Rules</li>
        </div>
        <div class='list-group'>
          <li class='list-group-item' ng-click='SetMenuItem("Bridge")'>Bridge</li>
        </div>
        <div class='list-group'>
          <li class='list-group-item' onclick='delete localStorage.MyHueBridgeIP;window.location.reload(true);'>Refreshed Reload</li>
        </div>
      </ul>
    </nav>
  </div><!-- /navcontainer -->

</div><!-- /MenuCtrl -->

  <div class='status timebasedgradient'>
    <h4>hue Web Interface</h4>
    <!-- Single button -->
    <div id='HueStatusbar'>
      <div>Bridge IP: {{MyHue.BridgeIP}}</div>
      <div>Bridge Name: {{MyHue.BridgeName}}</div>
      <div>{{Status}}</div>
    </div>
  </div><!-- /status -->

</body>
  
</html>