<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html ng-app="huewi" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>hue Web Interface</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="viewport" content="width=device-width, user-scalable=0" />

  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-title" content="huewi" />
  <meta name="apple-mobile-web-app-title" content="huewi" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <script src="http://code.jquery.com/jquery-1.12.0.min.js" type="text/javascript"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js" type="text/javascript"></script>

  <script src="https://arndbrugman.github.io/huepi/huepi.js" type="text/javascript"></script>
  <script src="../huepi/huepi.js" type="text/javascript"></script>

  <script src="js/timebasedgradient.js" type="text/javascript"></script>
  <script src="js/navdrawer.js" type="text/javascript"></script>

  <script src="js/huewi.js" type="text/javascript"></script>
  <link rel="stylesheet" href="css/huewi.css">

  <!--script src='js/cordova.js' type='text/javascript'></script-->
</head>

<body id='HueStatus' ng-controller='HueController as HueCtrl'>

  <div class='overlay timebasedgradient'>
    <div class='container' id='Groups' ng-controller='GroupsController as GroupsCtrl'>
      <div class='content'>
        <huewi-groups></huewi-groups>
      </div><!-- /content -->
      <div class="onlandscape"><br><br></div><!-- Spacing on Landscape after Groups -->
    </div><!-- /container -->

    <div class='container' id='Lights' ng-controller='LightsController as LightsCtrl'>
      <div class='content'>
        <huewi-lights></huewi-lights>
      </div><!-- /content -->
    </div><!-- /container -->
  </div>

  <div class='overlay fading' id='GroupAndLight' ng-controller='GroupAndLightController as GroupCtrl' ng-show='MenuItem() === "Group" || MenuItem() === "Light"'>
    <div class='inlay content timebasedgradient'>
      <h3><input type="text" ng-model="Name" ng-model-options="{ getterSetter: true }"></h3>
      <button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button><br>
      
      <div class='container' id='ColorTemp'>
        <div class='content'>
          <canvas id='ctCanvas'>It seems your device doesn't support the required HTML5 Canvas</canvas>
          <div>
            <div ng-show='MenuItem() === "Group"' >
              <input type='range' min='0' max='255' style='display:inline-block; width:79%' ng-model='MyHue.Groups[MenuIndex()].action.bri' ng-change='SetGroupBrightness(MenuIndex())' ng-mousedown='SetActive(MenuIndex())' ng-mouseup='SetActive(-1)' ng-mouseleave='SetActive(-1)'/>
              <div style='display:inline-block; width:19%' class='right'>
                <button type="button" class="btn btn-sm right" ng-click="MyHue.GroupOff(MenuIndex());" ng-class="{ hidden: !((MyHue.Groups[MenuIndex()].action.on) || (MenuIndex() == 0)) }">
                  <span class="glyphicon glyphicon-off" style="color:{{MyHue.Groups[MenuIndex()].HTMLColor}}" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-sm right" ng-click="MyHue.GroupOn(MenuIndex());" ng-class="{ hidden:MyHue.Groups[MenuIndex()].action.on }">
                  <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                </button>
              </div>
            </div>
            <div ng-show='MenuItem() === "Light"' >
              <input type='range' min='0' max='255' style='display:inline-block; width:79% ' ng-model='MyHue.Lights[MenuIndex()].state.bri' ng-change='SetLightBrightness(MenuIndex())' ng-mousedown='SetActive(MenuIndex())' ng-mouseup='SetActive(-1)' ng-mouseleave='SetActive(-1)'/>
              <div style='display:inline-block; width:19%' class='right' ng-class="{ hidden:!MyHue.Lights[MenuIndex()].state.reachable }">
                <button type="button" class="btn btn-sm right" ng-click="MyHue.LightOff(MenuIndex());" ng-class="{ hidden:!MyHue.Lights[MenuIndex()].state.on }">
                  <span class="glyphicon glyphicon-off" style="color:{{MyHue.Lights[MenuIndex()].HTMLColor}}" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-sm right" ng-click="MyHue.LightOn(MenuIndex());" ng-class="{ hidden:MyHue.Lights[MenuIndex()].state.on }">
                  <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-sm preset" ng-click="Relax()">Relax</button>
            <button type="button" class="btn btn-sm preset" ng-click="Reading()">Reading</button>
            <button type="button" class="btn btn-sm preset" ng-click="Concentrate()">Concentrate</button>
            <button type="button" class="btn btn-sm preset" ng-click="Energize()">Energize</button>
            <button type="button" class="btn btn-sm preset" ng-click="GoldenHour()">Gold</button>
          </div>          
          <div class="onportait"><br></div><!-- Spacing on Portait after ColorTemp -->
        </div><!-- /content -->
      </div><!-- /container -->
      <div class='container' id='hueColor'>
        <div class='content'>
          <div>
            <canvas id='hueCanvas'>It seems your device doesn't support the required HTML5 Canvas</canvas>
          </div>
        </div><!-- /content -->
      </div><!-- /container -->
      
      <div class='content'>
        <div ng-show='(MenuItem() === "Group") && (MenuIndex()!=="0")' >
          <span class='grouplight' ng-repeat="Light in MyHue.Lights">
            <span ng-click="GroupToggleLight(Light.id)">
              <span ng-show='GroupHasLight(Light.id)' class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
              <span ng-show='!GroupHasLight(Light.id)' class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
              {{Light.name}}
            </span>
          </span>
        </div>
      </div>

      <button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button>
      <div><br><br></div>
    </div><!-- /inlay content -->
  </div><!-- /overlay -->

  <div class='overlay fading' id='Schedules' ng-controller='SchedulesController as SchedulesCtrl' ng-show='MenuItem() === "Schedules"'>
    <div class='inlay content timebasedgradient'>
      <h3>Schedules</h3>
      <button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button><br>
      <div class='list-group'>
        <div class="list-group-item" ng-repeat="(Key, Value) in MyHue.Schedules">
            {{Key}} - {{Value.name}}
        </div>
      </div>
      <button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button>
      <div><br><br></div>
    </div><!-- /inlay content -->
  </div><!-- /overlay -->

  <div class='overlay fading' id='Scenes' ng-controller='ScenesController as ScenesCtrl' ng-show='MenuItem() === "Scenes"'>
    <div class='inlay content timebasedgradient'>
      <h3>Scenes</h3>
      <button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button><br>
      <div class='list-group'>
        <div class="list-group-item" ng-repeat="(Key, Value) in MyHue.Scenes">
            {{Key}} - {{Value.name}}
        </div>
      </div>
      <button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button>
      <div><br><br></div>
    </div><!-- /inlay content -->
  </div><!-- /overlay -->

  <div class='overlay fading' id='Sensors' ng-controller='SensorsController as SensorsCtrl' ng-show='MenuItem() === "Sensors"'>
    <div class='inlay content timebasedgradient'>
      <h3>Sensors</h3>
      <button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button><br>
      <div class='list-group'>
        <div class="list-group-item" ng-repeat="(Key, Value) in MyHue.Sensors">
            {{Key}} - {{Value.name}}
        </div>
      </div>
      <button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button>
      <div><br><br></div>
    </div><!-- /inlay content -->
  </div><!-- /overlay -->

  <div class='overlay fading' id='Rules' ng-controller='RulesController as RulesCtrl' ng-show='MenuItem() === "Rules"'>
    <div class='inlay content timebasedgradient'>
      <h3>Rules</h3>
      <button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button><br>
      <div class='list-group'>
        <div class="list-group-item" ng-repeat="(Key, Value) in MyHue.Rules">
            {{Key}} - {{Value.name}}
        </div>
      </div>
      <button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button>
      <div><br><br></div>
    </div><!-- /inlay content -->
  </div><!-- /overlay -->

  <div class='overlay fading' id='Bridge' ng-controller='BridgeController as BridgeCtrl' ng-show='Status() !== "Connected" || MenuItem() === "Bridge"'> <!-- == "!" vs !== "" TESTCODE. -->
    <div class='inlay content timebasedgradient'>
      <h3>Bridge</h3>
      <button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button><br>
      <div class='list-group'>
        <div class="list-group-item" ng-repeat="(Key, Value) in MyHue.LocalBridges" ng-click="MyHue.ScanningNetwork = false; MyHue.BridgeIP = Value.internalipaddress; Connect();">
          <div style="display:inline-block; width:69%">
            {{Value.internalipaddress}}
            <span ng-show="Value.internalipaddress===MyHue.BridgeIP">, '{{MyHue.BridgeName}}'</span>
            , {{Value.id}}
          </div>
          <div ng-show="Value.internalipaddress===MyHue.BridgeIP" style="display:inline-block; width:29%; text-align: right">Active Bridge</div>
        </div>
      </div>
      <button type="button" class="btn btn-sm preset" ng-click="MyHue.PortalDiscoverLocalBridges();" ng-show="!MyHue.ScanningNetwork">Reload Bridges</button>
      <button type="button" class="btn btn-sm preset" ng-click="Scan();" ng-show="!MyHue.ScanningNetwork">Scan Network</button>
      <button type="button" class="btn btn-sm preset" ng-click="MyHue.ScanningNetwork = false;" ng-show="MyHue.ScanningNetwork">Cancel Scan</button>
      <button type="button" class="btn btn-sm preset" onclick="delete localStorage.MyHueBridgeIP; window.location.reload(true);" ng-show="!MyHue.ScanningNetwork">Refreshed Reload</button>
      <div></div>
      <br>
      <div class='list-group'>
        <div class="list-group-item" ng-repeat="(Key, Value) in MyHue.BridgeConfig.whitelist | orderObjectBy : 'last use date' : true">
          <div style="display:inline-block; width:69%">
            {{Value.id}} : {{Value.name}}<br>
            Created: {{Value['create date']}}, 
            LastUsed: {{Value['last use date']}}
          </div>
          <div ng-show="Value.id===MyHue.Username" style="display:inline-block; width:29%; text-align: right">Active Key</div>
          <div style="display:inline-block; width:69%"></div>
          <div ng-click="MyHue.BridgeDeleteUser(Value.id)" style="display:inline-block; width:29%; text-align: right">Delete Key</div>
        </div>
      </div>
      <button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button>
      <div><br><br></div>
    </div><!-- /inlay content -->
  </div><!-- /overlay -->

  
  <div id='navcontainer' class='timebasedgradient'>
    <span id='navbutton' class='glyphicon glyphicon-menu-hamburger'></span>
    <nav id='navdrawer'>
      <h4>Settings</h4><br>
        <div class='list-group'>
          <li class='list-group-item' ng-click='SetMenuItem("Schedules")'>Schedules</li>
          <li class='list-group-item' ng-click='SetMenuItem("Scenes")'>Scenes</li>
          <li class='list-group-item' ng-click='SetMenuItem("Sensors")'>Sensors</li>
          <li class='list-group-item' ng-click='SetMenuItem("Rules")'>Rules</li>
        </div>
        <div class='list-group'>
          <li class='list-group-item' ng-click='SetMenuItem("Bridge")'>Bridge</li>
        </div>
    </nav>
  </div><!-- /navcontainer -->


  <div class='status timebasedgradient'>
    <h4>hue Web Interface</h4>
    <!-- Single button -->
    <div id='HueStatusbar'>
      <div>Bridge IP: {{MyHue.BridgeIP}}</div>
      <div>Bridge Name: {{MyHue.BridgeName}}</div>
      <div>Status: {{Status()}}</div>
    </div>
  </div><!-- /status -->

</body>
  
</html>