<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="huewi" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>hue Web Interface</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="viewport" content="width=device-width, user-scalable=0" />

  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-title" content="huewi" />
  <meta name="apple-mobile-web-app-title" content="huewi" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>

  <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script-->

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js" type="text/javascript"></script>

  <script src="js/timebasedgradient.js" type="text/javascript"></script>
  <script src="js/navdrawer.js" type="text/javascript"></script>
  
  <script src="https://arndbrugman.github.io/huepi/huepi.js" type="text/javascript"></script>
  <!--script src="../huepi/huepi.js" type="text/javascript"></script-->

  <script src="js/huewi.js" type="text/javascript"></script>
  <script src="js/orderobjectby.js" type="text/javascript"></script>
  <script src="js/menu.js" type="text/javascript"></script>

  <script src="js/hueconnector.js" type="text/javascript"></script>
  <script src="js/huewi-controller.js" type="text/javascript"></script>
  <script src="js/huewi-groups.js" type="text/javascript"></script>
  <script src="js/huewi-lights.js" type="text/javascript"></script>
  <script src="js/huewi-groupandlight.js" type="text/javascript"></script>
  <script src="js/huewi-schedules.js" type="text/javascript"></script>
  <script src="js/huewi-scenes.js" type="text/javascript"></script>
  <script src="js/huewi-sensors.js" type="text/javascript"></script>
  <script src="js/huewi-rules.js" type="text/javascript"></script>
  <script src="js/huewi-bridge.js" type="text/javascript"></script>

  <!--script src="js/cordova.js" type="text/javascript"></script-->

  <link rel="stylesheet" href="css/huewi.css">

</head>

<body id="HueStatus" ng-controller="huewiController">

  <div class="overlay timebasedgradient">
    <div class="container" id="Groups">
      <div huewi-groups class="content">
      </div><!-- /content -->
      <div class="onlandscape"><br><br></div><!-- Spacing only on Landscape after Groups/Rooms -->
    </div><!-- /container -->

    <div class="container" id="Lights">
      <div huewi-lights class="content">
      </div><!-- /content -->
    </div><!-- /container -->
  </div>

  <div class="overlay fading" id="GroupAndLight" ng-show="GetMenuItem() === 'Group' || GetMenuItem() === 'Light'">
    <div huewi-groupandlight class="inlay content timebasedgradient">
    </div><!-- /inlay content -->
  </div><!-- /overlay -->

  <div class="overlay fading" id="Schedules" ng-show="GetMenuItem() === 'Schedules'">
    <div huewi-schedules class="inlay content timebasedgradient">
    </div><!-- /inlay content -->
  </div><!-- /overlay -->

  <div class="overlay fading" id="Scenes" ng-show="GetMenuItem() === 'Scenes'">
    <div huewi-scenes class="inlay content timebasedgradient">
    </div><!-- /inlay content -->
  </div><!-- /overlay -->

  <div class="overlay fading" id="Sensors" ng-show="GetMenuItem() === 'Sensors'">
    <div huewi-sensors class="inlay content timebasedgradient">
    </div><!-- /inlay content -->
  </div><!-- /overlay -->

  <div class="overlay fading" id="Rules" ng-show="GetMenuItem() === 'Rules'">
    <div huewi-rules class="inlay content timebasedgradient">
    </div><!-- /inlay content -->
  </div><!-- /overlay -->

  <div class="overlay fading" id="Bridge" ng-show="Status() === '!Connected' || GetMenuItem() === 'Bridge'">
    <div huewi-bridge class="inlay content timebasedgradient">
    </div><!-- /inlay content -->
  </div><!-- /overlay -->

  <div id="navcontainer" class="timebasedgradient">
    <div id="navbutton" class="glyphicon glyphicon-menu-hamburger"></div>
    <div id="navdrawer">
        <h4>Settings</h4>
        <div class="list-group">
        <li class="list-group-item" ng-click="SetMenuItem('Schedules')">Schedules</li>
        <li class="list-group-item" ng-click="SetMenuItem('Scenes')">Scenes</li>
        <li class="list-group-item" ng-click="SetMenuItem('Sensors')">Sensors</li>
        <li class="list-group-item" ng-click="SetMenuItem('Rules')">Rules</li>
      </div>
      <div class="list-group">
        <li class="list-group-item" ng-click="SetMenuItem('Bridge')">Bridge</li>
      </div>
    </div>
  </div><!-- /navcontainer -->

  <div class="status timebasedgradient">
    <h4>hue Web Interface</h4>
    <div id="HueStatusbar">
      <div>{{Status()}}</div>
      <div>Bridge IP: {{MyHue.BridgeIP}}</div>
      <div>Bridge Name: {{MyHue.BridgeName}}</div>
    </div>
  </div><!-- /status -->

</body>
  
</html>