<h3>Schedules</h3>

<button type='button' class='btn btn-sm right' ng-click='vm.Menu.SetItem("")'>Close</button><br>

<div>
  <h4>
    Filter: <input type='text' ng-model='vm.Filter'>
    <button type='button' class='btn btn-sm' ng-show='vm.Filter!=""' ng-click='vm.Filter=""'>Clear</button>
  </h4>
</div>
<div class='list-group'>
  <div class='list-group-item' ng-repeat='Schedule in vm.MyHue.Schedules | addKey | asArray | filter:vm.Filter' ng-class='{ grayed:Schedule.status != "enabled" }' ng-click='vm.Details(Schedule.__key)'>
    {{Schedule.__key}} - {{Schedule.name}}
    <div class='list-group-item' ng-show='Schedule.__key===vm.Details()'>
      <small>
        Localtime: {{Schedule.localtime}} Time: {{Schedule.time}} (Created: {{Schedule.created}})<br>
        {{Schedule.command.method}} {{Schedule.command.address}} {{Schedule.command.body}}
      </small>
    </div>
  </div>
</div>

<button type='button' class='btn btn-sm right' ng-click='vm.Menu.SetItem("")'>Close</button>
