<h3>Rules</h3>

<button type='button' class='btn btn-sm right' ng-click='vm.Menu.SetItem("")'>Close</button><br>

<div>
  <h4>
    Filter: <input type='text' ng-model='vm.Filter'>
    <button type='button' class='btn btn-sm' ng-show='vm.Filter!=""' ng-click='vm.Filter=""'>Clear</button>
  </h4>
</div>
<div class='list-group'>
  <div class='list-group-item' ng-repeat='Rule in vm.MyHue.Rules | addKey | asArray | filter:vm.Filter' ng-class='{ grayed:Rule.status != "enabled" }' ng-click='vm.Details(Rule.__key)'>
    {{Rule.__key}} - {{Rule.name}}
    <div class='list-group-item' ng-if='Rule.__key===vm.Details()'>
      <small>
      	<b>Conditions :</b></br>
      	<span ng-repeat='Condition in Rule.conditions'>
      		{ {{Condition.address}} {{Condition.operator}} <span ng-show='Condition.value!=""'>'{{Condition.value}}'</span> }
      		<span ng-hide=$last> And <br></span>
      	</span>
        </br>
      	<b>Actions :</b></br>
      	<span ng-repeat='Action in Rule.actions'>
      		{ {{Action.method}} {{Action.address}} {{Action.body}} }
  				<span ng-hide=$last> Plus <br></span>
      	</span>
      </small>
    </div>
  </div>
</div>

<button type='button' class='btn btn-sm right' ng-click='vm.Menu.SetItem("")'>Close</button>
