<h3 ng-click='vm.ChangeType()' ng-show='vm.GroupType==="Room"' >Rooms</h3>
<h3 ng-click='vm.ChangeType()' ng-show='vm.GroupType==="LightGroup"' >Groups</h3>

<div class='list-group row'>
  <div class='list-group-item col-xs-12 col-sm-12 col-md-12 col-lg-12' ng-repeat='Group in vm.MyHue.Groups | addKey | asArray | orderBy:"name" | filter:{type:vm.GroupType} | filter:"!huelabs"'>
    <div class='col-xs-4 col-sm-5 col-md-4 col-lg-3' ng-click='vm.Menu.SetItem("Group", Group.__key)'>
      {{Group.name}}
    </div>
    <div class='col-xs-6 col-sm-5 col-md-7 col-lg-8'>
      <input type='range' min='1' max='254' ng-show='(Group.action.on) || (Group.state.any_on) || (Group.__key === "0")' ng-model='Group.action.bri' ng-touchstart='vm.SetGroupId(Group.__key)' ng-touchmove='vm.SetGroupBrightness(Group.__key)' ng-touchend='vm.SetGroupId("-1")' ng-mousedown='vm.SetGroupId(Group.__key)' ng-change='vm.SetGroupBrightness(Group.__key)' ng-mouseup='vm.SetGroupId("-1")' ng-mouseleave='vm.SetGroupId("-1")' ng-click='vm.SetGroupBrightness(Group.__key)'/>
    </div>
    <div class='col-xs-2 col-sm-2 col-md-1 col-lg-1'>
      <button type='button' class='btn btn-sm' ng-click='vm.MyHue.GroupOff(Group.__key)' ng-show='(Group.action.on) || (Group.__key === "0")'>
        <span class='glyphicon glyphicon-off' style='color:{{Group.HTMLColor}}' aria-hidden='true'></span>
      </button>
      <button type='button' class='btn btn-sm' ng-click='vm.MyHue.GroupOn(Group.__key)' ng-hide='(Group.action.on) && (Group.__key != "0")'>
        <span class='glyphicon glyphicon-certificate' aria-hidden='true'></span>
      </button>
    </div>
  </div>
</div>
