<h3>About hue Web Interface</h3>

<button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button><br>
<div class="list-group">
  <div class="list-group-item">
    <h4>hueWI version {{version}}</h4><br>
    <br>
    hueWI is the easy way to control your Philips hue smart connected lights from the webbrowser.
	hue Web Interface is based on huepi, Angular and Bootstrap<br>
	<br>
	<a href='http://arndbrugman.github.io/huewi'>site is published at http://arndbrugman.github.io/huewi</a>
	<br>
	huepi: hue (Philips Wireless Lighting) Api for JavaScript huepi can be found at 
	<a href='https://github.com/ArndBrugman/huepi'>https://github.com/ArndBrugman/huepi</a><br>
    <br>
	huepi version {{MyHue.version}}<br>
    Angular version {{angular.version.major}}.{{angular.version.minor}} ({{angular.version.full}})<br>
  </div>
</div>

<button type="button" class="btn btn-sm right" ng-click="SetMenuItem('')">Close</button>