<h3>Lights</h3>

<div class='list-group row'>
  <div class='list-group-item col-xs-12 col-sm-12 col-md-12 col-lg-12' ng-repeat='Light in vm.MyHue.Lights | addKey | asArray | orderBy:"name"' ng-class='{ grayed:!Light.state.reachable }'>
    <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4' ng-click='vm.Menu.SetItem("Light", Light.__key)'>
      {{Light.name}}
    </div>
    <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6' >
      <input type='range' min='1' max='254' ng-show='Light.state.on' ng-model='Light.state.bri' ng-touchstart='vm.SetLightId(Light.__key)' ng-touchmove='vm.SetLightBrightness(Light.__key)' ng-touchend='vm.SetLightId("-1")' ng-mousedown='vm.SetLightId(Light.__key)' ng-change='vm.SetLightBrightness(Light.__key)' ng-mouseup='vm.SetLightId("-1")' ng-mouseleave='vm.SetLightId("-1")' ng-click='vm.SetLightBrightness(Light.__key)'/>
    </div>
    <div class='col-xs-2 col-sm-2 col-md-2 col-lg-2' ng-show='Light.state.reachable'>
      <button type='button' class='btn btn-sm' ng-click='vm.MyHue.LightOff(Light.__key)' ng-show='Light.state.on'>
        <span class='glyphicon glyphicon-off' style='color:{{Light.HTMLColor}}' aria-hidden='true'></span>
      </button>
      <button type='button' class='btn btn-sm' ng-click='vm.MyHue.LightOn(Light.__key)' ng-hide='Light.state.on'>
        <span class='glyphicon glyphicon-certificate' aria-hidden='true'></span>
      </button>
    </div>
  </div>
</div>
