<h3>Scenes</h3>

<button type='button' class='btn btn-sm right' ng-click='vm.Menu.SetItem("")'>Close</button><br>

<div>
  <h4>
    Filter: <input type='text' ng-model='vm.Filter'>
    <button type='button' class='btn btn-sm' ng-show='vm.Filter!=""' ng-click='vm.Filter=""'>Clear</button>
  </h4>
</div>
<div class='list-group'>
  <div class='list-group-item' ng-repeat='Scene in vm.MyHue.Scenes | addKey | asArray | filter:vm.Filter' ng-click='vm.Details(Scene.__key)'>
    {{Scene.name}}
    <div class='list-group-item' ng-show='Scene.__key===vm.Details()'>
      <small>
        {{Scene.__key}} (owned by {{Scene.owner}})<br>
        Lights: {{Scene.lights}}<br>
        Lastupdated: {{Scene.lastupdated}}<br>
      </small>
    </div>
  </div>
</div>

<button type='button' class='btn btn-sm right' ng-click='vm.Menu.SetItem("")'>Close</button>
