<h3>About hue Web Interface</h3>

<div class='row'>
  <button type='button' class='btn btn-sm col-xs-offset-10 col-xs-2 col-sm-offset-10 col-sm-2 col-md-offset-11 col-md-1 col-lg-offset-11 col-lg-1' ng-click='vm.Menu.SetItem("")'>Close</button><br><br>
</div>

<div class='list-group row'>
  <div class='list-group-item col-xs-6 col-sm-4 col-md-3 col-lg-2'>
    <h4>hueWI version {{vm.Version}}</h4><br>
    <br>
    hueWI is the easy way to control your Philips hue smart connected lights from the webbrowser.
		hue Web Interface is based on huepi, Angular, Bootstrap adn JQuery<br>
		<br>
		You are invited to contribute on GitHub
		<a href='https://github.com/ArndBrugman/huewi'>https://github.com/ArndBrugman/huewi</a><br>
		<br>
		<a href='http://arndbrugman.github.io/huewi'>site is published at http://arndbrugman.github.io/huewi</a>
		<br>
		huepi: hue (Philips Wireless Lighting) Api for JavaScript huepi can also be found on GitHub
		<a href='https://github.com/ArndBrugman/huepi'>https://github.com/ArndBrugman/huepi</a><br>
		<br>
	  huepi-version {{vm.MyHue.version}}<br>
	  Angular-version {{vm.AngularVersion.major}}.{{vm.AngularVersion.minor}} ({{vm.AngularVersion.full}})<br>
  </div>
</div>

<div class='row'>
  <button type='button' class='btn btn-sm col-xs-offset-10 col-xs-2 col-sm-offset-10 col-sm-2 col-md-offset-11 col-md-1 col-lg-offset-11 col-lg-1' ng-click='vm.Menu.SetItem("")'>Close</button><br><br>
</div>
