<h3><input type='text' ng-model='vm.Name' ng-model-options='{getterSetter: true}'></h3>

<div class='row'>
  <button type='button' class='btn btn-sm col-xs-offset-10 col-xs-2 col-sm-offset-10 col-sm-2 col-md-offset-11 col-md-1 col-lg-offset-11 col-lg-1' ng-click='vm.Menu.SetItem("")'>Close</button><br><br>
</div>

<div class='row' ng-if='vm.Menu.GetItem() === "Group"' >
  <div class='col-xs-10 col-sm-10 col-md-11 col-lg-11'>
    <input type='range' min='1' max='254' ng-show='((vm.MyHue.Groups[vm.Menu.GetId()].action.on) || (vm.MyHue.Groups[vm.Menu.GetId()].state.any_on) || (vm.Menu.GetId() == 0))' ng-model='vm.MyHue.Groups[vm.Menu.GetId()].action.bri' ng-touchstart='vm.SetGroupId(vm.Menu.GetId())' ng-touchmove='vm.SetGroupBrightness(vm.Menu.GetId())' ng-touchend='vm.SetGroupId("-1")' ng-mousedown='vm.SetGroupId(vm.Menu.GetId())' ng-change='vm.SetGroupBrightness(vm.Menu.GetId())' ng-mouseup='vm.SetGroupId("-1")' ng-mouseleave='vm.SetGroupId("-1")' ng-click='vm.SetGroupBrightness(vm.Menu.GetId())'/>
  </div>
  <button type='button' class='btn btn-sm col-xs-2 col-sm-2 col-md-1 col-lg-1' ng-click='vm.MyHue.GroupOff(vm.Menu.GetId())' ng-show='((vm.MyHue.Groups[vm.Menu.GetId()].action.on) || (vm.Menu.GetId() == 0))'>
    <span class='glyphicon glyphicon-off' style='color:{{vm.MyHue.Groups[vm.Menu.GetId()].HTMLColor}}' aria-hidden='true'></span>
  </button>
  <button type='button' class='btn btn-sm col-xs-2 col-sm-2 col-md-1 col-lg-1' ng-click='vm.MyHue.GroupOn(vm.Menu.GetId())' ng-hide='vm.MyHue.Groups[vm.Menu.GetId()].action.on'>
    <span class='glyphicon glyphicon-certificate' aria-hidden='true'></span>
  </button>
</div>

<div class='row' ng-if='vm.Menu.GetItem() === "Light"' >
  <div class='col-xs-10 col-sm-10 col-md-11 col-lg-11'>
    <input type='range' min='1' max='254' ng-show='vm.MyHue.Lights[vm.Menu.GetId()].state.on' ng-model='vm.MyHue.Lights[vm.Menu.GetId()].state.bri' ng-touchstart='vm.SetLightId(vm.Menu.GetId())' ng-touchmove='vm.SetLightBrightness(vm.Menu.GetId())' ng-touchend='vm.SetLightId("-1")' ng-mousedown='vm.SetLightId(vm.Menu.GetId())' ng-change='vm.SetLightBrightness(vm.Menu.GetId())' ng-mouseup='vm.SetLightId("-1")' ng-mouseleave='vm.SetLightId("-1")' ng-click='vm.SetLightBrightness(vm.Menu.GetId())'/>
  </div>
  <div ng-show='vm.MyHue.Lights[vm.Menu.GetId()].state.reachable'>
    <button type='button' class='btn btn-sm col-xs-2 col-sm-2 col-md-1 col-lg-1' ng-click='vm.MyHue.LightOff(vm.Menu.GetId())' ng-show='vm.MyHue.Lights[vm.Menu.GetId()].state.on'>
      <span class='glyphicon glyphicon-off' style='color:{{vm.MyHue.Lights[vm.Menu.GetId()].HTMLColor}}' aria-hidden='true'></span>
    </button>
    <button type='button' class='btn btn-sm col-xs-2 col-sm-2 col-md-1 col-lg-1' ng-click='vm.MyHue.LightOn(vm.Menu.GetId())' ng-hide='vm.MyHue.Lights[vm.Menu.GetId()].state.on'>
      <span class='glyphicon glyphicon-certificate' aria-hidden='true'></span>
    </button>
  </div>
</div>

<div class='row'>
  <div class='container'>
    <div>
      <span class='marker' id='huewictMarker'>
        <span class='glyphicon glyphicon-record' aria-hidden='true'>
        </span>
      </span>
      <canvas id='huewictCanvas'>It seems your device doesn't support the required HTML5 Canvas</canvas>
      <div>
        <button type='button' class='btn btn-sm col-xs-12 col-sm-6 col-md-4 col-lg-3' ng-click='vm.Relax()'>Relax</button>
        <button type='button' class='btn btn-sm col-xs-12 col-sm-6 col-md-4 col-lg-3' ng-click='vm.Reading()'>Reading</button>
        <button type='button' class='btn btn-sm col-xs-12 col-sm-6 col-md-4 col-lg-3' ng-click='vm.Concentrate()'>Concentrate</button>
        <button type='button' class='btn btn-sm col-xs-12 col-sm-6 col-md-4 col-lg-3' ng-click='vm.Energize()'>Energize</button>
        <button type='button' class='btn btn-sm col-xs-12 col-sm-6 col-md-4 col-lg-3' ng-click='vm.Bright()'>Bright</button>
        <button type='button' class='btn btn-sm col-xs-12 col-sm-6 col-md-4 col-lg-3' ng-click='vm.Dimmed()'>Dimmed</button>
        <button type='button' class='btn btn-sm col-xs-12 col-sm-6 col-md-4 col-lg-3' ng-click='vm.Nightlight()'>Nightlight</button>
        <button type='button' class='btn btn-sm col-xs-12 col-sm-6 col-md-4 col-lg-3' ng-click='vm.GoldenHour()'>Golden hour</button>
      </div>
    </div>
    <div class='onportait'><!--br--></div><!-- Spacing on Portait after ColorTemp -->
  </div><!-- /container -->

  <div class='container'>
    <div>
      <span class='marker' id='huewihueMarker'>
        <span class='glyphicon glyphicon-record' aria-hidden='true'>
        </span>
      </span>
      <canvas id='huewihueCanvas'>It seems your device doesn't support the required HTML5 Canvas</canvas>
    </div>
  </div><!-- /container -->
</div><!-- /row -->

<div class='row'>
  <div ng-if='(vm.Menu.GetItem() === "Group") && (vm.Menu.GetId()!=="0")' >
    <div class='col-xs-6 col-sm-4 col-md-3 col-lg-2' ng-repeat='Light in vm.MyHue.Lights | addKey | asArray | orderBy:"name"'>
      <span ng-click='vm.GroupToggleLight(Light.__key)'>
        <span ng-show='vm.GroupHasLight(Light.__key)' class='glyphicon glyphicon-ok-circle' aria-hidden='true'></span>
        <span ng-hide='vm.GroupHasLight(Light.__key)' class='glyphicon glyphicon-unchecked' aria-hidden='true'></span>
        {{Light.name}}
      </span>
    </div>
  </div>
</div>

<div class='row'>
  <button type='button' class='btn btn-sm col-xs-offset-10 col-xs-2 col-sm-offset-10 col-sm-2 col-md-offset-11 col-md-1 col-lg-offset-11 col-lg-1' ng-click='vm.Menu.SetItem("")'>Close</button><br><br>
</div>

</div>
