<h3>Bridge</h3>

<div class='row'>
  <button type='button' class='btn btn-sm col-xs-offset-10 col-xs-2 col-sm-offset-10 col-sm-2 col-md-offset-11 col-md-1 col-lg-offset-11 col-lg-1' ng-click='vm.Menu.SetItem("")'>Close</button><br><br>
</div>

<div class='list-group row'>
  <div class='list-group-item col-xs-12 col-sm-12 col-md-12 col-lg-12'>
    <button type='button' class='btn btn-sm col-xs-4 col-sm-4 col-md-2 col-lg-2' ng-click='vm.hueConnector.Discover()' ng-hide='vm.MyHue.ScanningNetwork'>Discover</button>
    <button type='button' class='btn btn-sm col-xs-4 col-sm-4 col-md-2 col-lg-2' ng-click='vm.hueConnector.Scan()' ng-hide='vm.MyHue.ScanningNetwork'>Scan</button>
    <div ng-show='vm.MyHue.ScanningNetwork'>
      <span type='text' class='btn btn-sm  col-xs-4 col-sm-4 col-md-2 col-lg-2'>Scanning</span>
      <span type='text' class='btn btn-sm  col-xs-4 col-sm-4 col-md-2 col-lg-2'>Network</span>
      <button type='button' class='btn btn-sm col-xs-4 col-sm-4 col-md-2 col-lg-2' ng-click='vm.MyHue.ScanningNetwork = false'>Cancel</button>
    </div>
    <button type='button' class='btn btn-sm col-xs-4 col-sm-4 col-md-2 col-lg-2' onclick='delete localStorage.MyHueBridgeIP; window.location.reload(true)' ng-hide='vm.MyHue.ScanningNetwork'>Reload</button>
    <span type='text' class='btn btn-sm  col-xs-4 col-sm-4 col-md-2 col-lg-2' ng-hide='vm.MyHue.ScanningNetwork'>Manual Bridge:</span>
    <input type='text' class='btn btn-sm col-xs-4 col-sm-4 col-md-2 col-lg-2' ng-model='vm.ManualBridge' ng-hide='vm.MyHue.ScanningNetwork'></input>
    <button type='button' class='btn btn-sm col-xs-4 col-sm-4 col-md-2 col-lg-2' ng-click='vm.hueConnector.Connect(vm.ManualBridge)' ng-hide='vm.MyHue.ScanningNetwork'>Connect</button>
  </div>
</div>

<div class='fading' ng-hide='vm.MyHue.BridgeName === "" || vm.MyHue.Username === ""'>
  <h4>Connected to '{{vm.MyHue.BridgeName}}'</h4>
  <div class='list-group row'>
    <div class='list-group-item col-xs-6 col-sm-4 col-md-3 col-lg-2'>
      <div class='list-group fading' ng-show='vm.MyHue.BridgeConfig.linkbutton'>
        <div class='list-group-item row'><h4>Linkbutton was pressed</h4></div>
      </div>
      <div type='text' class='col-xs-12 col-sm-6 col-md-4 col-lg-3'><b>API-version</b> {{vm.MyHue.BridgeConfig.apiversion}}</div>
      <div type='text' class='col-xs-12 col-sm-6 col-md-4 col-lg-3'><b>Software-version</b> {{vm.MyHue.BridgeConfig.swversion}}</div>
      <div type='text' class='col-xs-12 col-sm-6 col-md-4 col-lg-3'><b>IP</b> {{vm.MyHue.BridgeIP}}</div>
      <div type='text' class='col-xs-12 col-sm-6 col-md-4 col-lg-3'><b>MAC</b> {{vm.MyHue.BridgeConfig.mac}}</div>
      <div type='text' class='col-xs-12 col-sm-6 col-md-4 col-lg-3'><b>Identifier</b> {{vm.MyHue.BridgeConfig.bridgeid}}</div>
      <div type='text' class='col-xs-12 col-sm-6 col-md-4 col-lg-3'><b>Model</b> {{vm.MyHue.BridgeConfig.modelid}}</div>
    </div>
  </div>
</div>

<div class='fading' ng-hide='vm.MyHue.LocalBridges.length == 0'>
  <h4>Bridges on Network</h4>
  <div class='list-group row'>
    <div class='list-group-item col-xs-6 col-sm-4 col-md-3 col-lg-2' ng-repeat='Bridge in vm.MyHue.LocalBridges' ng-click='vm.MyHue.ScanningNetwork = false; vm.MyHue.BridgeIP = Bridge.internalipaddress; vm.hueConnector.Connect(Bridge.internalipaddress)'>
      <div class='col-xs-10 col-sm-10 col-md-11 col-lg-11'>
        {{Bridge.internalipaddress}}<span ng-show='Bridge.internalipaddress===vm.MyHue.BridgeIP'>, '{{vm.MyHue.BridgeName}}'</span>, {{Bridge.id}}
      </div>
      <div ng-show='Bridge.internalipaddress===vm.MyHue.BridgeIP' class='col-xs-2 col-sm-2 col-md-1 col-lg-1'>Current</div>
    </div>
  </div>
</div>

<div class='fading' ng-hide='vm.MyHue.BridgeName === "" || vm.MyHue.Username === "" || !vm.MyHue.BridgeConfig.whitelist || vm.MyHue.BridgeConfig.whitelist.length == 0'>
  <h4>Whitelist authorisations</h4>
  <div class='list-group row'>
    <div class='list-group-item col-xs-6 col-sm-4 col-md-3 col-lg-2' ng-repeat='Listed in vm.MyHue.BridgeConfig.whitelist | addKey | asArray | noSpaces | orderBy:"last_use_date":true' ng-click='vm.Details(Listed.__key)'>
      <div class='col-xs-8 col-sm-10 col-md-11 col-lg-11'>
        {{Listed.name}}
        <div ng-if='Listed.__key===vm.Details()'>
          <small>
            Last Used: {{Listed['last_use_date']}}<br>
            Created: {{Listed['create_date']}}<br>
            {{Listed.__key}}<br>
          </small>
        </div>
      </div>
      <span ng-click='vm.MyHue.BridgeDeleteUser(Listed.__key)' class='btn btn-sm col-xs-4 col-sm-2 col-md-1 col-lg-1'>
        <span ng-show='Listed.__key===vm.MyHue.Username'>!Delete Current!</span>
        <span ng-show='Listed.__key!==vm.MyHue.Username'>Delete Key</span>
      </span>
    </div>
  </div>
</div>

<div class='row'>
  <button type='button' class='btn btn-sm col-xs-offset-10 col-xs-2 col-sm-offset-10 col-sm-2 col-md-offset-11 col-md-1 col-lg-offset-11 col-lg-1' ng-click='vm.Menu.SetItem("")'>Close</button><br><br>
</div>
